<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>
  <h1>admin register page</h1>
  <form action="/admin" method="post">
    <input type="text" name="adminname" id="adminname">
    <br>
    <br>
    <input type="password" name="admin_pass" id="admin_pass">
    <br>
    <br>
    <input type="submit" value="register">
  </form>

</head>
<body>
  
</body>
</html>