<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <h1>dit is mijn app</h1>
  <h2>voeg app toe</h2>
  <form method="post">
    <div>
      <label for="appname" class="color">appname:</label>
      <input type="text" id="appname" name="appname" required>
    </div>
    <div>
      <label for="ip_filter">ip:</label>
      <input type="text" id="ip_filter" name="ip_filter" required>
    </div>
    <button type="submit">save</button>
  </form>
  <br>
  <div>
    <p>test omgeving</p>
    <button>maak bestand aan</button>
    <p>productie omgeving</p>
    <button>maak bestand aan</button>
  </div>

  <table>
    <thead>

      <th>ip</th>
      <th>omgeving</th>
      <th>tijdstip</th>
      <th>melding</th>

    </thead>
    <tbody>

      <td>127.001:5000</td>
      <td>test</td>
      <td>18:38 14-05-2023</td>
      <td>download bestand oke.db</td>

    </tbody>
  </table>
</body>

</html>