<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="static/style.css">

</head>


<body>
  <h1>dit is mijn app</h1>







  <button><a href="/applicaties/<applicaties_id>/omgevingen/<omgevingen_id>">maak nieuwe bestand</a></button>


  <form action="/applicaties/<id>/omgevingen" method="post">
    <label for="test_omgeving">Test Omgeving:</label>
    <input type="text" name="test_omgeving" id="test_omgeving" required>

    <label for="productie_omgeving">Productie Omgeving:</label>
    <input type="text" name="productie_omgeving" id="productie_omgeving" required>

    <label for="applicaties_id">Applicatie:</label>
    <input type="text" name="applicaties_id" id="applicaties_id" required>
    <button type="submit">Opslaan</button>
  </form>

  <div class="div-1">
    <p>maake een nieuwe omgeving aan</p>
    <input type="text" name="" id="">
    <button> <a href="/omgevingen">nieuwe omgeving</a></button>
  </div>

  <table>
    <thead>
      <th>id</th>
      <th>ip</th>
      <th>omgeving</th>
      <th>tijdstip</th>
      <th>melding</th>
    </thead>
    <tbody>
      <td id="id"></td>
      <td id="ip"></td>
      <td id="omg"></td>
      <td id="tijd"></td>
      <td id="meld"></td>
    </tbody>
  </table>

  <button style="width: auto;" onclick="button()">button</button>
  <p id="p"></p>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script lang="javascript">
    $(document).ready(function dragon() {
      $.ajax({
        url: "http://127.0.0.1:5000/api/logging",
        dataType: "json",
        method: "GET",
        success: function (data) {
          var text = ""
          for (var i = 0; i < data.length; i++) {
            text += data[i].id + "<br>"
          }

          $("#id").append(text);
          var text2 = ""
          for (var i = 0; i < data.length; i++) {
            text2 += data[i].ip + "<br>"
          }
          $("#ip").append(text2);
          var text3 = ""
          for (var i = 0; i < data.length; i++) {
            text3 += data[i].omgeving + "<br>"
          }
          $("#omg").append(text3);
          var text4 = ""
          for (var i = 0; i < data.length; i++) {
            text4 += data[i].tijdstip + "<br>"
          }
          $("#tijd").append(text4);
          var text5 = ""
          for (var i = 0; i < data.length; i++) {
            text5 += data[i].melding + "<br>"
          }
          $("#meld").append(text5);
          console.log(data);

        },
        complete: function () {
          setInterval(1000)
        },
        error: function (xhr, status, errorthrown) {
          console.log("ERROR: " + errorthrown);
        }
      })
    });
    function button() {
      $.ajax({
        cache: false,
        url: "http://127.0.0.1:5000/api/logging",
        method: "POST",
        dataType: "json",

        success: function (data) {
          var text = ""
          for (var i = 0; i < data.length; i++) {
            text += data[i].id + "<br>"
          }

          $("#id").append(text);
          var text2 = ""
          for (var i = 0; i < data.length; i++) {
            text2 += data[i].ip + "<br>"
          }
          $("#ip").append(text2);
          var text3 = ""
          for (var i = 0; i < data.length; i++) {
            text3 += data[i].omgeving + "<br>"
          }
          $("#omg").append(text3);
          var text4 = ""
          for (var i = 0; i < data.length; i++) {
            text4 += data[i].tijdstip + "<br>"
          }
          $("#tijd").append(text4);
          var text5 = ""
          for (var i = 0; i < data.length; i++) {
            text5 += data[i].melding + "<br>"
          }
          $("#meld").append(text5);
          console.log(data);

        },
        error: function (xhr, status, errorthrown) {
          console.log("ERROR: " + errorthrown);
        }

      })
    }

  </script>

</body>

</html>