<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestand aanmaken</title>

  <link rel="stylesheet" href="/static/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script lang="javascript">

    function button() {
      $.ajax({
        cache: false,
        url: "http://127.0.0.1:5000/api/logging",
        method: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf",
        success: function (data) {
          var text = ""
          for (var i = 0; i < data.length; i++) {
            text += data[i].id + "<br>"
          }

          $("#id").text(text);
          var text2 = ""
          for (var i = 0; i < data.length; i++) {
            text2 += data[i].ip + "<br>"
          }
          $("#ip").text(text2);
          var text3 = ""
          for (var i = 0; i < data.length; i++) {
            text3 += data[i].omgeving + "<br>"
          }
          $("#omg").text(text3);
          var text4 = ""
          for (var i = 0; i < data.length; i++) {
            text4 += data[i].tijdstip + "<br>"
          }
          $("#tijd").text(text4);
          var text5 = ""
          for (var i = 0; i < data.length; i++) {
            text5 += data[i].melding + "<br>"
          }
          $("#meld").text(text5);
          console.log(data);

        },
        error: function (xhr, status, errorthrown) {
          console.log("ERROR: " + errorthrown);
        }

      })
    }
  </script>




</head>

<body>
  <h1>Nieuw bestand</h1>

  <p id="p"></p>
  <h4>Applicatie: MijnTestApplicatie</h4>
  <h4>Omgeving: Test</h4>
  <h4>Bestandsnaam: database_instellingen.json</h4>
  <form method="post" action="/applicaties/<applicaties_id>/omgevingen/<omgevingen_id>">
    <div>
      <label for="applicaties_id" class="color">applicatie:</label>
      <input type="text" id="applicaties_id" name="applicaties_id" required>
    </div>
    <div>
      <label for="omgevingen_id">omgeving:</label>
      <input type="text" id="omgevingen_id" name="omgevingen_id" required>
    </div>
    <div>
      <label for="bestandnaam">bestand:</label>
      <input type="text" id="bestandnaam" name="bestandnaam" required>
    </div>
    <button type="submit">save</button>



  </form>
  <a class="btn btn-success" href="/api/download/<applicatie_id>/<omgeving_id>/<bestand_uuid>">Download</a>
  <h3>bestanden</h3>
  {%for result in bestanden%}
  <li>{{result}}</li>
  {%endfor%}

</body>


</html>