<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestand aanmaken</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <h1>Nieuw bestand</h1>

  <h4>Applicatie: MijnTestApplicatie</h4>
  <h4>Omgeving: Test</h4>
  <h4>Bestandsnaam: database_instellingen.json</h4>
  <textarea name="" id="" cols="15" rows="10"></textarea>

</body>

</html>