<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bestand aanmaken</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>
  <h1>Nieuw bestand</h1>

  <h4>Applicatie: MijnTestApplicatie</h4>
  <h4>Omgeving: Test</h4>
  <h4>Bestandsnaam: database_instellingen.json</h4>
  <form method="post" action="/applicaties/<id>/omgevingen/<omgevingen_id>">
    <div>
      <label for="id" class="color">applicatie:</label>
      <input type="text" id="id" name="id" required>
    </div>
    <div>
      <label for="omgevingen_id">omgeving:</label>
      <input type="text" id="omgevingen_id" name="omgevingen_id" required>
    </div>
    <div>
      <label for="bestand">bestand:</label>
      <input type="text" id="bestand" name="bestand" required>
    </div>
    <button type="submit">save</button>
    <a class="btn btn-success" href="/api/download/<applicatie_id>/<omgeving_id>/<bestand_uuid>">Download</a>
  </form>
  <h3>bestanden</h3>
  {%for result in bestanden%}
  <li>{{result}}</li>
  {%endfor%}
</body>

</html>