<!DOCTYPE html>
<html lang="en">

<head>


  <title>Dashboard</title>


  <p id="li">

  <p id="p"></p>

  <button onclick="button()">maak nieuw bestand aan</button>
  <textarea name="" id="" cols="30" rows="10"></textarea>

  <a href="/app1"><img src="\static\one-piece.png"></a>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script lang="Javascript">


    $(document).ready(function () {

      $.ajax({
        url: 'http://127.0.0.1:5000/api/index/',
        dataType: 'json',
        method: 'GET',
        success: function (data) {
          var text = ""
          for (var i = 0; i < data.length; i++) {
            text += data[i].id + " " + data[i].name + "<br>";



          }
          $("#li").append(text);
          console.log(data);



        },
        error: function (xhr, textStatus, errorThrown) {
          console.log("Error: " + errorThrown);
        }
      })

    })
    function button() {
      $.ajax({
        url: 'http://127.0.0.1:5000/api/bestanden',
        dataType: 'json',
        method: 'POST',
        data: {
          "type": "test",
          "database": "sqlite",
          "applicatie": "pygame"
        },
        success: function button(data) {
          // var result = ""
          // for (var i = 0; i < data.length; i++) {
          //   result += data[i].type + data[i].database + data[i].applicatie + "<br>";
          // }
          $("#p").append(JSON.stringify(data));
        },




        error: function (xhr, textStatus, errorThrown) {
          console.log("Error: " + errorThrown);
        }
      })
    }



  </script>

</head>

<body>
  <h1> Dashboard</h1>


</body>

</html>