<!DOCTYPE html>

<html lang="en">
<link rel="stylesheet" href="/static/style.css">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form action="/applicaties/<id>/omgevingen" method="post">
    <label for="test_omgeving">Test Omgeving:</label>
    <input type="text" name="test_omgeving" id="test_omgeving" required>

    <label for="productie_omgeving">Productie Omgeving:</label>
    <input type="text" name="productie_omgeving" id="productie_omgeving" required>

    <label for="applicaties_id">Applicatie:</label>
    <input type="text" name="applicaties_id" id="applicaties_id" required>
    <button type="submit">Opslaan</button>
  </form>
  <h1>lijst met omgevingen</h1>
  <li>
    {%if omgeving%}
    {% for key, value in omgeving.items() %}
  <li><strong>{{ key }}:</strong> {{ value }}</li>
  {% endfor %}
  {% endif %}
  </li>
</body>

</html>