<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>pygame</title>
  <link rel="stylesheet" href="static/style.css">
</head>

<body>
  <h1>pygame</h1>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script lang="javascript">
    var arr = [1, 2, 3, 4, 5];
    $.each(arr, function (i) {
      if (arr[i] === 3) {
        return true;
      }
      document.write(arr[i] + ' ');
    });
  </script>
</body>

</html>